[2017-04-04 06:38] dreamsuifeng opened #6 "Thank you for this extension, I want to know when I can use this extension well"

[2017-04-04 15:47] PGilbertSchmitt commented on #6
We're looking to have a basic working version hosted on the Visual Studio marketplace by Sunday with limited functionality.

[2017-04-06 00:31] jsonreeder opened #30 "Insert heading should work on blank doc"
To reproduce:
1. First approach
  1. Open a new org file
  2. Try to run org.InsertHeaderRespectContent
  3. There will be an error: running the command failed
2. Second approach
  1. Open a new org file
  2. Insert a heading
  3. Try running org.InsertHeaderRespectContent on the line below
  4. There will be an error that the command failed

Expected behavior:
  - Should be able to insert a heade

[2017-04-06 00:32] ajtoo opened #31 "Initial date context increment error"
If I initially have a date listed in text on the page and call increment context on it, it jumps two days forward instead of one. After that, it seems to work as expected.

[2017-04-06 15:34] #31 closed

[2017-04-06 15:35] ajtoo commented on #31
Works

[2017-04-08 22:22] ajtoo commented on #30
Fixed in pull #45

[2017-04-08 22:22] #30 closed

[2017-04-08 23:34] jsonreeder commented on #6
@dreamsuifeng FYI the alpha version is now live: https://marketplace.visualstudio.com/items?itemName=tootone.org-mode

[2017-04-08 23:34] #6 closed

[2017-04-09 00:51] jsonreeder opened #52 "Extension categorized "Other""
The extension is categorized under other on the Marketplace:
![screen shot 2017-04-08 at 5 49 49 pm](https://cloud.githubusercontent.com/assets/10589114/24833630/d603b786-1c83-11e7-82fd-1ec24e4cffc9.png)

Instead, it should be under "Languages."

[2017-04-09 01:01] jsonreeder opened #53 "Every capitalized word in a header is highlighted"
When typing capitalized words in a header, single capitalized words are highlighted:
![hilighting_bug](https://cloud.githubusercontent.com/assets/10589114/24833659/23810490-1c85-11e7-80a3-642c0a065ecb.gif)

I assume this is due to the generous regex highlighting custom TODO keywords. It's good to have custom TODO words highlighted. But it's not great to have every single capital letter you type be

[2017-04-10 02:32] jsonreeder opened #54 "Insert Heading Respect Content is breaking lines"
When I call `Org: Insert Heading Respect Content` on the middle of a line, it breaks that line:

![respect_content](https://cloud.githubusercontent.com/assets/10589114/24843814/103dfcc2-1d5b-11e7-99df-bb1d5855df18.gif)

Instead, it should insert a new header below without breaking the line. The current behavior would be appropriate to `Insert Heading` but not `respect content`.

[2017-04-10 02:56] jsonreeder opened #55 "Promote subtree misses bullets"
When I call `Org: Promote Subtree` it does not modify all sub bullets:

![promote_subtree](https://cloud.githubusercontent.com/assets/10589114/24844295/75ba1e48-1d5e-11e7-8114-b0b524c3ff75.gif)

All sub bullets should be promoted.

[2017-04-10 04:57] ajtoo commented on #55
Fixed in pull #56

[2017-04-10 04:57] #55 closed

[2017-04-10 04:58] jsonreeder commented on #55
Issue #55 was fixed in pull #56?! Well I'll be...

[2017-04-11 10:45] dreamsuifeng opened #62 "Time stamp, "alt+left“ is invalid."
VSCode Version: 1.11.1
Org Mode Version: 0.1.1
"alt+right" is valid, but "alt+left" is invalid. It's a bug or my setting is wrong?

[2017-04-11 17:02] ajtoo commented on #62
Can you describe how to replicate this bug? It appears to work on our end. If you can send us some information we'd be more than happy to take a look at it.

[2017-04-11 20:06] #52 closed

[2017-04-11 20:08] PGilbertSchmitt commented on #62
What operating system are you running?

[2017-04-12 07:08] dreamsuifeng commented on #62
windows 10

[2017-04-12 18:09] PGilbertSchmitt commented on #62
Running this in Windows 10, and I'm unable to reproduce the problem on a fresh install of VSCode. Both `alt-left` and `alt-right`, as well as their respective commands, are working just fine on the latest version.

[2017-04-12 20:18] jsonreeder commented on #54
An additional note here: it seems that this is happening only when the header is the last line of the file (as in the example screenshot), but not when the header is on any other line.

[2017-04-13 08:33] erlais commented on #62
for me alt+left and alt+right work with TODO items, but when in timestamp, alt+left does nothing and alt+right goes 2 days forward.

VSCode 1.12 insider
Org Mode 0.1.1

Extensions installed: Material Icon Theme, Org Mode, Project Manager, Python, Settings Sync, TortoiseSVN
Windows 10, system locale/region settings et_ee (Estonian)

[2017-04-13 13:54] PGilbertSchmitt commented on #62
Now that's some good intel. Give me a day, I'll have this fixed pronto.

[2017-04-13 20:01] PGilbertSchmitt commented on #62
Regrettably, I'm having an issue in which I'm not getting the issue. I can't seem to replicate this on any of my Windows machines, yet at the same time, I'm pretty sure I know where the offending code. I can no longer promise that this will be fixed today, but hopefully we can recreate the error on our end.

[2017-04-13 20:11] erlais commented on #62
No worries. I played around with locale settings in my system but no dice. I have the same issue with my laptop and desktop computers and the laptop was very recent fresh install of VSCode and just ran sync settings on it...

Nevertheless I just wanted to say I'm super happy that you are taking on Org mode for VSCode! Happy easter :)

[2017-04-14 20:32] PGilbertSchmitt commented on #62
The most recent update should hopefully have been patched. I couldn't actually replicate the issue because it likely has to doing with timezones, so I'll keep this issue open until you tell me that it's fixed. Please let me know as soon as you can.

[2017-04-14 20:35] erlais commented on #62
it is fixed! Thanks.

[2017-04-16 22:50] #62 closed

[2017-04-16 22:52] #53 closed

[2017-04-21 06:30] TobiasBales opened #70 "Cycling visibility/collapsing content"
First off, thank you for making this extension, it adds one of the two big missing things from emacs (the other being magit)

I am curious, given something like

* My Project
** Tooling
*** TODO do somethings
~here be code,
so that I don't forget~
*** TODO do something else
maybe with some explanation

Is it possible to cycle the visibility/collapsing the code/text blocks? I haven't found anything

[2017-04-21 06:47] ajtoo commented on #70
Hi TobiasBales,

You're welcome, we're glad people like yourself are using it! This extension is still being actively developed and we have visibility/collapsing planned as a future feature (content folding). VS Code handles folding primarily by indentation and VS Code works (based on my understanding) as a "what you see is what you get" editor. That gives us a few things to deal with so it may ta

[2017-04-21 20:36] jsonreeder commented on #70
I miss magit so much! Totally feel you there.

One quick hack is just to add a space before each line that you want to fold. Then run VS Code's folding feature on the header above and it will fold.

I'm hoping we can add a simple feature to add in that space (sort of `org-indent-mode`). Then maybe we'll tackle the real `org-cycle`.

Your contributions would be totally welcome. There are some very

[2017-04-24 06:08] TobiasBales commented on #70
@jsonreeder thank you, somehow I missed the space indent method in vs code.
Works for me and is good enough for now, thank you so much!

[2017-04-24 16:28] jsonreeder commented on #70
Awesome. Don't hesitate to reach out with further ideas or requests.

[2017-04-24 16:28] #70 closed

[2017-05-18 12:43] icewind opened #72 "Are there any plans to support checkboxes?"
Hi, thanks for your work. Do you have any roadmap or and plans to support checkboxes?

[2017-05-24 17:23] ajtoo commented on #72
Hi icewind, sorry for taking so long to get around to answering you. To somewhat indirectly answer your question: we are trying to figure out how to handle the less "what you see is what you get" features. The problem we are encountering is that VS Code is a "what you see is what you get" text editor which presents a number of interesting problems when it comes to substituting symbols. In short, s

[2017-06-15 17:00] rbenson commented on #72
@ajtoo I just found this package, but there is another, seemingly abandoned and unlisted, orgmode ext. See: https://github.com/aboukirev/vscode-orgmode. It claims to have checkboxes working. There is a bug in the overall package, but maybe you can leverage the work there?

[2017-06-15 17:07] PGilbertSchmitt commented on #72
I have looked into it, but VSCode being a wysiwyg editor means they won't
be pretty. If we get back to working in it, it's definitely in the list.

On Jun 15, 2017 10:00 AM, "Ryan B" <notifications@github.com> wrote:

[2017-06-15 21:05] chaseadamsio commented on #72
@PGilbertSchmitt emacs isn't a wysiwyg editor and it supports checkboxes. The functionality is to be able to toggle raw text like `- [ ]` to complete `- [x]`.

[2017-06-15 22:40] PGilbertSchmitt commented on #72
You're right. Again, it's on the list. Work is a bit stalled since we're
all independently working in other projects at the moment

On Jun 15, 2017 3:09 PM, "Chase Adams" <notifications@github.com> wrote:

[2017-06-17 00:58] rbenson opened #74 "Regexes for formatting are not correct"
If we have  a sentence like:

     I *absolutely* love *GitHub*

Instead of being: I **absolutely** love **GitHub**, it appears as: I **absolutely  love GitHub.**

---
Also if we have `*/some text/*`, it will be **some text**, versus _**some text**_. I'll try to play with it this weekend

[2017-06-17 01:40] rbenson commented on #74
I see this is covered in #73

[2017-06-17 18:40] ajtoo commented on #74
Approved #73. Thanks

[2017-06-17 23:23] rbenson commented on #74
Which version did you use?

[2017-06-17 23:23] #74 closed

[2017-06-18 00:13] ajtoo commented on #74
We need to do another release. I'll see if I have time to get a few features together and release soonish

[2017-06-18 00:27] rbenson commented on #74
sounds good. I'll gladly help if/where I can

[2017-06-28 19:22] porglezomp opened #75 "Emphasis and other highlighting are greedy/inaccurate to org"
If you have multiple emphasized/italicized/marked as code on a line, then they're consumed greedily.

For example **\*this\*, is displayed as \*this\***.
When I would expect **\*this\*** to be displayed like **\*this\***.

[2017-06-28 20:04] PGilbertSchmitt commented on #75
I think it's been patched, but the resulting fix hasn't been pushed to the
vs market. I'll get published today or tomorrow. I apologize. We are all
currently working on other projects at the moment, so this one has been
pushed to the side.

On Jun 28, 2017 12:22 PM, "Caleb Jones" <notifications@github.com> wrote:

[2017-07-18 19:14] voronoipotato commented on #72
"name": "orgmode.checkbox",
        "match": "(\\[[xX ]\\])\\s?"

is the regex they used. obviously backslashes don't need to be doubled up like that if they're not in the config.

[2017-08-04 14:41] kenoyer130 opened #76 "add meta data tag for orgmode"
If you search for orgmode in the Visual Code Extensions left panel nothing comes up. You have to search for org mode. I almost missed this great extension!

[2017-08-29 12:39] k0105 opened #77 "Time Tracking / Clock in and out"
Hi,

does this project support time tracking via clock in and clock out? If not, I hereby open a feature request for it. I outlined how this might work over at the Orgzly repo, cmp. https://github.com/orgzly/orgzly-android/issues/15

Unfortunately, I currently have no free minute to contribute the feature, but I'm sure there is widespread interest in it, since time tracking is one of the most popu

[2017-09-21 23:00] SirSharpest opened #78 "Support for tables"
Is there currently any plans to implement a similar table management like in native emacs?

[2017-10-11 15:37] flipmokid opened #84 "Support internal links"
Internal links do not appear to work (e.g. [http://orgmode.org/manual/Internal-links.html](http://orgmode.org/manual/Internal-links.html)).

Love the extension though!

[2017-11-14 02:52] hastebrot commented on #75
Commit that fixes this was https://github.com/ajtoo/vscode-org-mode/commit/7dcaed0678b5aedf6bae0e56933ea5de5e8f1eb8.

[2017-11-21 05:10] bkidwell commented on #76
Org mode is stylized as "Org mode" on its [web site](http://orgmode.org/), and its project source control repository name is "org-mode".

But, it wouldn't hurt to add something to the the metadata for vscode-org-mode so that it matches a search in Extensions for "orgmode".

[2017-12-08 15:37] ghost opened #85 "how to fold and unfold levels ?"
Sorry for the simple question but I didn't find a way to do this basic feature in this org mode...

[2017-12-08 17:34] chaseadamsio commented on #85
currently there isn't a way to do that and as far as I know that's a VS Code limitation. They do folding based on the language specifying if its indention level or { } but there's not a way to define folding parameters uniquely per language.

[2017-12-18 11:04] ghisvail opened #88 "Update the changelog"
The last version referenced in the [changelog](https://github.com/ajtoo/vscode-org-mode/blob/develop/CHANGELOG.md#013---2017-05-27) is version 0.1.3, whereas the package is at version 0.5. Please consider keeping the changelog up to date so changes to the package can be easily reviewed from the VSCode plugin manager.

[2018-01-17 03:58] daniellam commented on #78
Same reason for me to choose over org mode, missing that would be undesirable.

[2018-01-17 18:09] ajtoo commented on #78
Hi,

There are plans to get as close to feature matching org-mode as we can. However, we are all a bit on the busy side at the moment and are trying to find time to implement these things. You are welcome to add pull requests if you so desire in the meantime.

[2018-01-21 18:51] fishbacon commented on #77
Looks like this might be outdated: https://github.com/ajtoo/vscode-org-mode/commit/49229bd23369d8d554feb180c3a2207a2db6270e

Someone should consider closing the issue 👍

[2018-01-21 19:23] joevandyk commented on #85
Would that be something to bring up with the VS Code developers?

[2018-01-21 21:39] cjay commented on #85
See https://github.com/Microsoft/vscode/issues/3422
This issue is relatively high up when sorting by upvotes.

[2018-01-21 21:52] jdelobel opened #91 "Shortcut equivalent on mac OS"
Can you add in your wiki shortcuts equivalent for mac OS.

For instance ctrl+alt+o h does not work for me.

[2018-01-21 22:12] jaischeema commented on #91
Try `ctrl+option+o`, release and then press `h` by itself.

[2018-01-21 23:37] ajtoo commented on #77
@fishbacon thanks for catching that, closing the issue

[2018-01-21 23:37] #77 closed

[2018-01-22 15:12] cvillers opened #92 "Time formatted incorrectly when minutes < 10"
I used the clock-in shortcut when local time was 10:06 AM. The formatted text inserted into the document was `CLOCK: [2018-1-22 Mon 10:6]` (the minutes part is missing the leading zero).

My system locale is English (US) on Windows 7, in case that would affect the formatting.

[2018-01-22 20:01] ajtoo commented on #92
@PGilbertSchmitt can you weigh in on this?

[2018-01-26 13:46] peon501 commented on #85
@chaseadamsio { } folding dont work :)

if u have for example (in php):

function alala(){
$lalala = <<<SQL
aaaa
SQL;
$lalala = <<<SQL
aaaa
SQL;
$lalala = <<<SQL
aaaa
SQL;
$lalala = <<<SQL
aaaa
SQL;
}

and they cant fix it for ages.

[2018-01-26 13:48] peon501 commented on #85
![image](https://user-images.githubusercontent.com/1125765/35442545-501fe842-02b0-11e8-9c8d-1bce06f7851f.png)
soo functions looks like sh*t :D

[2018-01-27 05:44] chaseadamsio commented on #85
@peon501 I don't know that this issue is the forum for the issue you're experiencing w/ folding, this is specifically for org-mode folding which is unrelated to PHP's SQL folding issue. If you'd like to get support for that, I'd recommend taking it to the PHP extension you've installed.

[2018-01-30 00:34] k0105 commented on #77
Thank you from me as well.

[2018-02-01 08:55] zyrikby opened #93 "Time counting for a TODO"
Is it possible to add a counter that will count the time you spend on working on this task?

[2018-02-04 13:39] Kinths opened #94 "TODO context switching only works when no space proceeds the *"
Firstly, I am not sure if this is a bug or a feature as I am not sure whether you can do this in the original ORG mode.

When you use context switch (alt + left/right) on a line that contains a TODO, it will only work if the * is the first char on the line. However, it is useful to be able to have indented TODOs to help with organisation and structure of a file. You can technically do this by addi

[2018-02-07 00:18] ajtoo commented on #54
PR to fix issue has been merged

[2018-02-07 00:18] #54 closed

[2018-02-07 07:59] #94 closed

[2018-02-08 16:32] dominicmontreuil opened #96 "Support for archiving"
Hi all,

I was wondering if support for [Archiving](https://orgmode.org/org.html#Archiving) is planned. If not, I would like to request it. Unless someone has another strategy for keeping orgmode files manageable, concise and empty of "DONE" items.

[2018-02-12 21:39] k0105 commented on #93
Another instance of https://github.com/ajtoo/vscode-org-mode/issues/77 ? Does this solve your issue?

[2018-02-13 08:35] zyrikby commented on #93
Wow, I have not discovered this clockIn/clockOut functionality before. It is indeed what I would like to see. The only issue I would like to improve is the total calculation. Let me show this with the example.

Imagine that I have the following long task and I work on it several times:
`* TODO Report the issue`

With the current implementation clockIn/clockOut functionality computes total as the t

[2018-02-13 08:37] zyrikby commented on #92
@cvillers This issue can be corrected using the following preference:
`"org.addLeftZero": true`

[2018-02-13 08:41] zyrikby opened #97 "Incorrect calculation of time spent on task"
ClockUpdate functionality takes wrong time into consideration. Consider the following example:

`* TODO Meeting (16:00-17:00) CLOCK: [2018-02-13 Tue 11:36]--[2018-02-13 Tue 11:38] =>  01:00`

The actual duration of the task is 2 minutes, while ClockUpdate functionality takes the values in parenthesis for calculation of the task duration.

[2018-02-26 14:50] sean-sh opened #98 "solarized light theme not showing TODO in a different color"
Hi,
In other themes the keyword TODO shows up in a different color than the rest of the line, but not in Solarized Light.
Here's a screenshot:
![screen shot 2018-02-26 at 17 45 55](https://user-images.githubusercontent.com/9609837/36676588-1d052726-1b1d-11e8-8489-a4836fc89783.png)

Using vscode 1.20.0 on mac.

And thank you very much for developing this extension

[2018-03-10 06:17] rpeshkov commented on #85
Hope I'm not too late for the party. VSCode 1.21 has proposed extension API for [folding](https://code.visualstudio.com/updates/v1_21#_folding) that allows you to create custom folding providers. Currently I'm working on implementing folding in this extension and once I finish, I'll make PR.

Notice that this PR should not be merged into main branch before this proposed API become stable because e

[2018-03-10 08:22] rpeshkov commented on #85
Made quick and dirty implementation of folding for the first level that demonstrates how will it look like in VSCode.

Screenshots:

![screen shot 2018-03-10 at 09 17 18](https://user-images.githubusercontent.com/701068/37239964-3b716212-2444-11e8-8dea-be05f566f25b.png)
![screen shot 2018-03-10 at 09 17 43](https://user-images.githubusercontent.com/701068/37239965-3b938932-2444-11e8-81e0-aaf62d7f0

[2018-03-12 01:53] rpeshkov opened #100 "MacOS bindings conflict"
Extension introduces keybindings "alt+left" and "alt+right" (option+left and option+right on mac) for switching the context. On MacOS those bindings are actually used to jump by words in text, like ctrl+left and ctrl+right on Windows.

What do you think about remapping it to something like "ctrl+alt+[" and "ctrl+alt+]" by default?

[2018-03-17 23:23] drudru opened #102 "How does the org-mode maintain consistency"
I want to start using this with visual studio code.
I have an internals / developer question.

How do you maintain consistency with the document?
Do you re-parse the document every time a key is hit or an action is taken?
Or do you control how the document gets mutated to prevent re-parsing.

Thx.

[2018-03-20 01:31] ajtoo commented on #102
Hi dru, the extension is currently not up to feature parity with actual org-mode. However, to answer your question: in most things we try to simply read/parse relevant sections of the document via the API provided by the vscode team. Our priorities are currently centered around things that can be done as wysiwg since that's primarily what vscode provides for. As things stand, me and the other co-c

[2018-03-23 00:07] rpeshkov commented on #75
@hastebrot verbatim and code are now non-greedy as well. Check PR #101

[2018-03-24 12:38] rpeshkov commented on #78
Hi guys,

I've started development of an extension for working with text tables. https://marketplace.visualstudio.com/items?itemName=RomanPeshkov.vscode-text-tables

It's independent from this org-mode extension, but maybe there will be points where we could interconnect mine and this org-mode extension by exposing API.

Currently my extension doesn't have so many features, but hey, that's just st

[2018-04-05 20:24] rpeshkov commented on #85
VSCode 1.22 released, but folding API is still in proposed status. Waiting for VSCode 1.23 :)

[2018-04-24 14:43] humanfactors opened #103 "Support for Syntax Highlighting in Code Blocks"
It would be nice to see syntax highlighting in a similar fashion to the Markdown plugin. I am not very familiar with TypeScript, and from looking at the [Markdown plugin that comes packaged with vscode](https://github.com/Microsoft/vscode/blob/master/extensions/markdown-basics/syntaxes/markdown.tmLanguage.json), my understanding is that this may be a significant job. I had limited success modifyin

[2018-04-26 17:33] emk opened #104 "Move subtrees and up down"
What a lovely vscode mode! Thank you. It's too bad that vscode doesn't support headline folding yet.

One org-mode feature that I miss is the ability to re-order subtrees by moving a subtree (and all its children) either up or down. There's a keybinding for this in Emacs org-mode and it's quite handy for reordering deeply nested TODO lists.

Unfortunately, I don't have the time to work on this mys

[2018-05-03 22:01] rpeshkov commented on #85
Great news! In VSCode 1.23 folding provider API moved to official status! https://code.visualstudio.com/updates/v1_23#_folding-provider-api

Tomorrow I’ll be able to cleanup my PR and make update.

[2018-05-07 18:47] isair opened #105 "Implement agenda view"
I'd love to switch from emacs to vs code as I'm using the former only for org-mode at the moment. However, this feature (along with logging capabilities but mostly this feature) is required for me and probably many others to make the switch. It's impossible to figure out your schedules if you work with multiple large org files without the agenda feature.

[2018-05-14 09:00] xxbc commented on #100
yeah agreeing here, the alt-left and alt-right bindings do nothing and pop up a warning that says: "no context to modify" Can these be remapped or can advice be given on how to remap ourselves within keybindings.json? thanks

[2018-05-14 09:07] xxbc commented on #100
@rpeshkov actually just remapped myself and now no problem -- add the following to your keybindings.json file

`// Place your key bindings in this file to overwrite the defaults
[
    {
        "key": "ctrl+alt+right",
        "command": "org.incrementContext",
        "when": "editorLangId == 'org'"
    },
    {
        "key": "ctrl+alt+left",
        "command": "org.decrementContext",
        "w

[2018-05-14 09:58] rpeshkov commented on #100
@xxbc, yep, it’s easy to remap it back, but it’s very annoying that there is remapping of standard behavior. I guess I’ll raise proposal for vscode team for adding additional control on extension contributed keybindings. I would like to see the option like “Disable contributed keybindings”. When selected, none of contributed keybindings should be applied and it will be your responsibility to map t

[2018-05-14 14:16] xxbc opened #106 "CSS region folding available in v1.23.1"
https://code.visualstudio.com/updates/v1_23#_css-region-folding

In the issue you linked in the readme there are people already expressing that now this is possible within VS Code via API. Please review and implement! Thank you!

[2018-05-16 03:31] xxbc commented on #85
merge this to master!

[2018-05-21 07:24] xxbc opened #107 "Update Extension on VS Marketplace"
Project Details

jsonreeder/vscode-org-mode
    No Pull Requests
    19 Open Issues
    **Last commit: 3 days ago**

Version | 0.5.0
**Last updated | 12/12/2017** 2:39:01 AM

[2018-05-28 22:16] AdrieanKhisbe commented on #103
I'm working on it :)
Will soon open a Pr for it.
So far working well:

Teaser
<img width="286" alt="capture d ecran 2018-05-28 23 52 48" src="https://user-images.githubusercontent.com/2601132/40630727-67772c00-62d5-11e8-8cee-b0ca77f01e57.png">

[2018-06-14 05:17] gsaga opened #109 "What are the default keybindings?"
The readme doesn't mention it anywhere? Where can I find them?

[2018-06-14 05:20] #109 closed

[2018-08-01 13:23] sipi opened #110 "Feature request : support for the outline view"
Hi,
I quickly write a DocumentSymbolProvider for org-mode which allow to fullfill the default outline view with a section tree. I hope to improve it in the coming weeks but I already share the code to discuss it, it works.

Perhaps, you can create a feature branch for it ?
I see that you are implementing findBeginningOfSection and findEndOfSection, we should use them.

[code]

You must add this fo

[2018-08-01 21:44] sipi commented on #110
A combine implementation with the OrgFoldingProvider based on its implementation…

The way to check if the text was updated should be improved.

[code]
[code]

[2018-08-02 07:27] sipi commented on #110
_Magic is never more than illusion with these faults._

The following commented line in the previous post : ```const adjustmentCount = stack.length - level + 1;``` has a flaw.
It does not not handle the following case well:
[code]
Of course, it is a misuse of headers but it is a possible use…

[2018-08-03 14:26] sipi commented on #110
pull request done : #112

[2018-08-08 17:02] sipi opened #114 "one bold, verbatim, italic, underline or code character does not correctly end"
One bold, verbatim, italic, underline or code character followed by text then an other same highlighting  does not correctly displayed.
In the snippet below, all the "should not" part are highlighted. Except for ``strike-through`` that is not managed at all.

[code]

[2018-08-09 09:19] sipi commented on #114
in the same vein:

this following cases should be displayed bold (I took Emacs and Latex Export as reference)
[code]

But these should not (It's ok for them)
[code]

[2018-08-09 18:06] sipi commented on #114
encore un cas :)
[code]

[2018-08-09 18:11] sipi commented on #114
except for the last case, the following regex seems to work (example with * for bold):
``(^|[\\s\\(\\{\"'])\\*(\\S|\\S.*?\\S)\\*($|[\\s\\)\\}\"'])``

[2018-08-09 19:13] sipi commented on #114
There is also an overflow to neighboring characters when underline ``  _underline_  ``, surrounding space are also underline. By adding ``( { ' " `` as other possible characters before highlighting  (and `` ) } ' " after), the problem becomes perceptible for bold, italic…

By writing it this way we don't overflow on neighboring characters:

[code]

[2018-08-10 07:18] sipi commented on #114
Hi, I suggest the following validation org file:

[code]

[2018-08-10 07:40] sipi commented on #114
With the last suggested regex, it just remain blinking effect due to consumption of the space after a match. And, so it is not available for a next match.
[code]
We can't just resolve the problem locally because it's also occurs between different markup tags:
[code]

[2018-08-10 07:48] sipi opened #115 "Feature request: manage +strike-through+"
Org-mode markup for emphasis also allows ~~+strike-through+~~ (see https://orgmode.org/org.html#Emphasis-and-monospace).

We can use the "markup.deleted.org" tmLanguage patterns name. Although the display is not really strike-through, the semantics match.

Maybe, it's possible to configure displaying ?

[2018-08-18 10:12] #100 closed

[2018-08-24 09:08] sipi commented on #114
I take note to not forget:
punctuation marks after a marked text does not block the markup (tested with latex export).

match:
[code]

does not match:
[code]

What about UTF8 characters ? œ, ß, ×, ¬…

[2018-08-24 18:53] sipi commented on #114
:tada: I found the specification https://orgmode.org/worg/dev/org-syntax.html#Emphasis_Markers

[code]
``PRE`` is a whitespace character, ``(``, ``{``, ``'`` or a double quote. It can also be a beginning of line.

``MARKER`` is a character among ``*`` (bold), ``=`` (verbatim), ``/`` (italic), ``+`` (strike-through), ``_`` (underline), ``~`` (code).

``CONTENTS`` is a string following the pattern:

[2018-08-26 15:01] slikts opened #118 "Poor ergonomics for shortcuts"
I'm used to being able to create outlines just by using Enter at the end of line to insert a sibling item (or remove the item if it's empty) and Tab and Shift+Tab at the beginning of line to promote and demote items; C-M-o p/d/s for the same has the advantage that it works with the cursor anywhere in the line, but still is cumbersome for common repeated actions.

[2018-09-01 09:28] mrkeuz commented on #76
+1 vote

[2018-09-04 13:11] sipi opened #119 "Does anyone still maintain this repository ? Is it appropriate to consider a change of maintainers ?"
Hi @ajtoo,
are you still working on this project? interesting on?
is your time away temporary?

Should other maintainers be considering taking over the project?

I would point out that this is by no means a blame, and I'm not personally really interested in taking over the project (but I can help if needed). It's just a question to clarify the future of this very useful extension.

In any case, th

[2018-09-05 20:58] ajtoo commented on #119
@sipi Hi, I would love to have you on board as a team member on this project! Life seems to have taken me down a very personally busy path lately and I haven't had any time to dedicate to this. I think this project could use a much needed push forward. Email me at ajtoo.dev@gmail.com and let's set up some time to chat about pushing the extension forward!

[2018-09-06 11:50] sipi commented on #119
Hi, I'm happy to read you :)
I'm going to send you an e-mail.
read you soon.

[2018-09-06 23:30] #119 closed

[2018-09-11 19:34] #103 closed

[2018-09-13 10:08] #102 closed

[2018-09-13 10:09] sipi commented on #75
solved

[2018-09-13 10:09] #75 closed

[2018-09-13 10:27] sipi commented on #98
Hi,
as written in the Readme file:

For information, there is similar issue with this theme and TypeScript :
![dark](https://user-images.githubusercontent.com/586230/45482940-b0203400-b74f-11e8-8cb0-f45f58bc90e8.png)
![solar](https://user-images.githubusercontent.com/586230/45482987-d6de6a80-b74f-11e8-8e01-8800bdfb2c20.png)

We're sorry, but we don't have time to investigate this issue. However, F

[2018-09-13 10:27] #98 closed

[2018-09-13 10:52] sipi commented on #97
I reproduced this bug.

[2018-09-13 20:27] sipi commented on #118
Concretely, what would you like to see implemented ?
Because you can already change keybinding for "do promote/demote"… Ok, it will be difficult to use "Tab" without blocking its behavior elsewhere in the file but I think we can't have a different behavior for a key based on the cursor context (but I can be wrong)…

We can add a command to insert a sibling outline "insert heading"… You will be abl

[2018-09-15 18:20] Vlad-Shcherbina opened #120 "A cleaner outline view (org-indent-mode)"
It would be nice to have an option to make the following org document:
[code]
appear like this:
[code]

See https://orgmode.org/manual/Clean-view.html.

[2018-09-16 20:52] slikts commented on #118
I'm not immediately sure what's the best for this specific case, but the scheme I described is reasonably comfortable. What's clear is that <kbd>C-M-o p/d/s</kbd> is not comfortable for operations that are used *all* the time.

[2018-09-20 15:13] sipi commented on #118
@KyrychukD yes, you can write a command that inspects the current cursor position and do different things depending on the context but you overwrites the default behavior. Especially for `enter`, it does not create new line anymore except if you recode this default behavior which is not really a very nice way to do. The shortcut handler should implements a "chain of responsability pattern" to do t

[2018-09-20 15:31] slikts commented on #118
It shouldn't be the main concern for shortcuts to just not conflict; there should be a default scheme that has reasonable ergonomics and the option for users to customize it.

As an example, there's a markdown extension that has the list editing features I described: https://github.com/neilsustc/vscode-markdown

[2018-09-20 17:01] KyrychukD commented on #118
@sipi I see your point. I do not insist on changing the default behavior. However, I do not think it's a bad idea either. It makes sense that certain actions lead to slightly different results depending on context. I can come up with three more examples where `enter` does not only insert a newline character besides the extension that @slikts mentioned:

1. In vscode when you hit `enter` while the

[2018-09-21 07:51] sipi commented on #118
First of all, from my point of view, I agree with a context dependent behavior of some key like `enter`.  It's just a technical issue about, can we do it ? how to do it right ?

@KyrychukD for your first two points, I think they are hardcoded in vscode. The both works even in a .txt file.
But, ok I tested the markdown extension. And, I agree that it manages well `enter` key for new item list… Howe

[2018-09-21 08:27] sipi opened #121 "Hiring volunters!"
Hi all,

As you may have seen it, the vscode-org-mode extension has been on standby for some time now. Indeed, original maintainers don't have much time left to devote to it which is very understandable, that's life.
Also, I have few time currently, so I'm trying to bring it back to life. However, I need some helps especially to review "push requests" but also to manage issues or even writing some

[2018-09-21 08:36] sipi commented on #121
@KyrychukD @AdrieanKhisbe @rpeshkov @chaseadamsio @zacherybohon  @aboukirev @nbessi

[2018-09-21 08:49] KyrychukD commented on #121
Hello @sipi. I am mostly working with Python, but occasionally I contribute to some Atom and now to VS Code extensions that I use myself. I'd be happy to contribute to this extension in my spare time too.

[2018-09-21 10:34] KyrychukD commented on #118
I am glad that we reached an agreement. Let's continue discussing details.

Correct. But I would simply call this a misuse of a feature that was designed specifically to enhance the behavior of the `enter` key. Nobody would map this command to TAB if the command documentation would say "Insert sibling heading below if cursor is on the end of a heading line, insert a new line otherwise". If they do

[2018-09-22 14:51] AdrieanKhisbe commented on #121
Hello @sipi.
I work daily with JavaScript ans have Aldo worked on some vscode extensions (porting some of my emacs lib).
I would be happy to provide some help with thé maintenance,and why not new features.
:)

[2018-09-22 15:32] rpeshkov commented on #121
Hi @sipi, on my daily basis I work with C#, TypeScript+Angular and Go. Also worked on a couple of VSCode extensions, one of which is highly inspired by org-mode from emacs and helps editing tables like in emacs: https://marketplace.visualstudio.com/items?itemName=RomanPeshkov.vscode-text-tables. Didn't work lately on that extension because of child birth, but hope to return back to evening coding

[2018-09-24 22:42] bwl commented on #121
Thanks for taking this on @sipi
Seems first order of business would be getting the published extension up to date. ( #107 )
I've run the develop branch locally and the folding alone is a great upgrade.
Do you have control of the publish token?

Thanks again.

[2018-09-25 08:30] sipi commented on #121
Hi all,
thanks for your involvement…

@bwl did you try #112, I would like to integrate this pull requests before publishing a new version (I hope it will be done soon). I does not have control on the publish token at the moment but I am in contact with @ajtoo. Are you interesting to manage this part the work, publishing new versions on the Marketplace?

@aboukirev if you can look to propose an imp

[2018-09-27 07:47] sipi commented on #121
@AdrieanKhisbe can you send me your email by email ? clement at 6pi dot fr

[2018-10-09 06:52] dandananddada commented on #120
+1

[2018-10-09 18:17] NateLehman commented on #121
Hi, I'd like to get involved :)

[2018-10-09 19:18] sipi commented on #121
@NateLehman It's happening here: https://github.com/vscode-org-mode/vscode-org-mode and here: https://gitter.im/vscode-org-mode/Lobby

[2018-10-09 20:36] rpeshkov commented on #121
@sipi, maybe we should ask @ajtoo about putting a warning in the readme that this repository is no longer maintained and provide a link to the new one?

[2018-10-09 20:55] AdrieanKhisbe commented on #121
@rpeshkov If @ajtoo answer to that, the best would be to transfer the repo to the organisation.
Don't you think?
cc @sipi

[2018-10-09 22:43] NateLehman commented on #97
+1 Repro

The issue is pretty easy to spot. The function `getClockTotal()` [naively just grabs the first two strings that look like hours and finds their distance based on the same day](https://github.com/vscode-org-mode/vscode-org-mode/blob/8e80df9c60c183413ffe3bab31dac58a3c2d7e49/src/simple-datetime.ts#L147-L153).

So, that means if an item is clocked in and then out on separate days, we would s

[2018-10-10 07:06] rpeshkov commented on #121
@AdrieanKhisbe totally agree

[2018-10-10 12:13] sipi commented on #121
@rpeshkov yes, I agree
@ajtoo ?

[2018-10-12 14:13] mgwelch commented on #109
Why did you close this? Did you find them? I have the same question.

[2018-10-12 14:52] sipi commented on #109
Have a look to the [wiki](https://github.com/ajtoo/vscode-org-mode/wiki), there are default keybindings for different purposes on different pages. Otherwise, in VSCode ``File > Preferences > Keyboard Shortcuts``, search for ``org:`` and you will find all keybindings.

[2018-10-14 19:50] AdrieanKhisbe commented on #121
Hey @ajtoo,
Thanks a lot for your answer!

I just moved the repository under another name: https://github.com/vscode-org-mode/vscode-org-mode-fork, so this one can be moved under the vscode-org-mode organisation.

Best regards,
Adrien

[2018-10-15 13:27] sipi commented on #121
Hi @ajtoo, I'm happy to read you, don't apologize you are allowed to be unavailable ;) hence I created an organization to work on the project but I think it's not a bad thing in any case.
Do you want to be a member (active or not) of the new "vscode-org-mode" organization ?

[2018-10-17 08:37] malekcellier opened #123 "Coloring and theme"
Hi

Thanks for making this extension.

I do not use the default vscode theme and as a result the keywords in the org file are not colored as they are shown in the pictures in the marketplace.

Is there a way to specify the colors for the keywords?

Thanks
Malek

[2018-10-17 08:44] dmytrokyrychuk commented on #123
You can specify colors using `editor.tokenColorCustomizations` setting. See an example here: https://github.com/ajtoo/vscode-org-mode/pull/122#issuecomment-424277951
Use the `Developer: Inspect TM Scopes` command from the Command Palette in order to determine the scope of a symbol.

[2018-10-18 11:19] sipi commented on #121
Hi @tecosaur,
I have invited you to join the vscode-org-mode organization.

When you say workshop, do you mean vscode marketplace ?

[2018-10-18 11:30] tecosaur commented on #121
Thanks 🙂 and – ahhh yes, indeed I do.

[2018-10-18 11:38] sipi commented on #121
So, I have no answer for the moment. I think we will try to merge some push requests before and we will release when it will ready. You can install the extension from the source in the meantime.

[2018-11-16 14:02] tecosaur opened #130 "[In-Progress] Export to PDF with Pandoc"
## PDF with Pandoc
For those with pandoc but not emacs it should be possible to export to a PDF with this extension. This is a work in progress but has just reached what I would consider to be 'minimum functionality', so I thought I might as well let you guys know what's been done.

### What have I actually done so far?
 - Create/modify pandoc latex template
 - Write a short (~50 line) node js she

[2018-12-18 19:48] LoveSponge commented on #85
Waking up this thread as it seems to have gone dead and the version i've downloaded from VS marketplace says 0.5.0, but when i download the 'Develop' branch as zip and drag it into the extentions directory, the version is 0.1.3, and folding still doesn't work.
help?

[2018-12-20 22:53] salvadord commented on #85
I tried going back to version 0.1.3 but still no folding/unfolding. Any other suggestions??

[2018-12-21 00:13] LoveSponge commented on #85
Hmm it worked for me, can you clarify that the version your vscode is looking at is correct & that the add on is running properly? Screenshot devtools if not.

When I realised there was an option to change it directly within vscode and roll back to an older version so easily it worked like a charm.

The last thing is just to check in your .vscode/extensions that it's actually the correct source

[2018-12-21 16:52] salvadord commented on #85
The extension is working properly cause I can run other Org commands via the command palette. I also checked the .vscode/extensions and the org-mode version is v0.1.3.

When working, should I see 'Org: fold' and 'Org: unfold' commands (or similar) in the command palette?

thanks!

[2018-12-21 17:12] LoveSponge commented on #85
No, the extension is more clever than that, it utilises vanilla vscode folding mechanisms, so you should be able to hover somewhere over the line numbers and see the folding icons like pull request #99.

You might have this hidden or disabled in your settings.

[2018-12-21 17:20] salvadord commented on #85
ah is the vanilla vscode folding mechanism something built into vscode, or needs to be installed also as an extension? thx!

[2019-01-08 10:19] LoveSponge commented on #85
Okay so it looks like downloading 0.1.3 isn't working properly on windows VSCode for some reason;
To get this working just download the (:DEVELOP) source as a ZIP from the repo and replace everything (delete it all) inside the .vscode/extensions folder in your user directory with the downloaded files. Open the directory with a terminal or NODEJS command prompt, run `npm i && tsc`

When it's done,

[2019-01-08 23:15] salvadord commented on #85
I downloaded the 'develop' branch code as zip and replaced the org-mode extension files in .vscode/extensions with these; then ran `npm i && tsc`. The extension is working, but still no code folding. I'm on a Mac OS 10.12.6 with Visual Studio Code 1.30.2

[2019-01-10 23:12] LoveSponge opened #131 "[QUESTION] Why are dates / datetimes surrounded with square brackets instead of angle brackets?"
Hi

First of all thankyou all for this ext. It's awesome, works amazingly, and from what I can see, others here love it as well. Nice work!

Just a question as to why you decided to surround your dates and date times with square brackets instead of angle brackets?

[code]

Instead of

[code]
 ^ Which is how it is in real orgmode

And if it was just 'because' whether it would be okay if I amend thi

[2019-01-12 17:54] scaba commented on #131
This should explain it pretty well: https://orgmode.org/manual/Timestamps.html

TL;DR: square brackets tell org-agenda to ignore those dates and not show them in the agenda view

[2019-01-13 12:01] LoveSponge commented on #131
Thanks @scaba, my own stupid fault for not reading the documentation thoroughly enough.

[2019-01-16 21:18] pschwartz commented on #131
The docs noted show the reason behind the difference between <> and [], but is there a reason to not support both? It is very common in orgmode files to use <> for active dates for scheduling and open time tracking.

I love the vscode extension, but it is a pain to not have it recognize my scheduling dates and then not be able to move the date with keybindings.

[2019-01-17 17:21] LoveSponge commented on #131
@pschwartz i've forked this repo and will be submitting a pull request that adds support for context switching checkboxes (- [ ]) and scrolling dates with both '[]' and '<>'

I've currently got this working but have a little bit of tweaking to do.
(Currently if you increase the context date that is using '<>' brackets, it changes them to '[]' brackets. Currently, waiting to have the time to implem

[2019-01-28 14:53] titaniumbones opened #133 "liveserver preview"
a bit of a stretch, but it would be nice to have live server preview of org-mode README's. If you're intersted I'l look into how to implement this using WebView.

[2019-02-11 03:09] tecosaur commented on #130
I kinda went away on holiday and forgot about this ... (sorry!)

I'll get back on it (It's only a small addition) very soon I promise.

[2019-02-12 19:42] lrfuentesw commented on #92
That's correct. Someone should consider closing the issue.

[2019-02-13 09:06] sipi commented on #133
If I have understood correctly, you'd like to have a similar feature to the "Markdown: open preview to the side" command. Yes, it could be interesting however it will not a priority for me (I can't speak for the others). But, if you have the time and skills to make a Pull Request with this feature, we will surely accept it.

regards

[2019-02-13 09:29] sipi commented on #131
related PR #132

[2019-02-13 10:20] sipi commented on #92
@zyrikby @lrfuentesw we should check that there is no side effect and set this configuration as default.

[2019-02-13 18:22] lrfuentesw commented on #92
@sipi when inserting clock in/out and timestamps it only add the zero to the left of the one digit values in the date and the time. And when inserting clock update there's no problem because it uses date-fns.Date object when finding the difference.
I'll keep checking the code in case there's something i'm missing

[2019-02-19 01:03] tonydero commented on #84
I think this could probably be expanded to support for all non-URL hyperlinks perhaps (i.e. other types of _external_ links too, such as file links). Unless I'm missing something, it seems like URL links are the only ones that have been implemented.

[2019-03-07 22:15] sipi commented on #110
available: https://marketplace.visualstudio.com/items?itemName=vscode-org-mode.org-mode

[2019-03-07 22:15] #110 closed

[2019-03-07 22:22] sipi commented on #107
:tada: Done, but I changed the publisher to reflect our new organization: https://marketplace.visualstudio.com/items?itemName=vscode-org-mode.org-mode

[2019-03-07 22:22] #107 closed

[2019-03-07 22:23] sipi commented on #85
:tada: released, but the publisher was changed to reflect our new organization: https://marketplace.visualstudio.com/items?itemName=vscode-org-mode.org-mode

[2019-03-07 22:23] #85 closed

[2019-03-07 22:25] sipi commented on #88
It was an inconsistence between source version and marketplace version, the 0.1.3 is the 0.5 from the marketplace.
Notice new release on a different publisher to reflect the new organization: https://marketplace.visualstudio.com/items?itemName=vscode-org-mode.org-mode

[2019-03-07 22:25] #88 closed

[2019-03-07 22:27] sipi commented on #76
DONE
Released on a new publisher to reflect our new organization: https://marketplace.visualstudio.com/items?itemName=vscode-org-mode.org-mode

[2019-03-07 22:27] #76 closed

[2019-03-07 22:34] sipi commented on #121
:tada: released :tada: on a new publisher to reflect our new organization: https://marketplace.visualstudio.com/items?itemName=vscode-org-mode.org-mode

:smile: @tecosaur @AdrieanKhisbe @ajtoo @dmytrokyrychuk @rpeshkov @aboukirev @NateLehman @bwl :smile:

:fire: We are always hiring volunters…
discussion here: https://gitter.im/vscode-org-mode/Lobby

[2019-03-08 00:08] bwl commented on #121
Congratulations Sipi - what a great milestone to hit

[2019-03-09 09:46] CanftIn opened #137 "todo switching not works on unicode"
I test some Unicode encoded languages in todo context and switch by <alt+left/right arrow>. Switch operating does not work. I think it might be regex not supporting unicode.
![2019-03-09_173448](https://user-images.githubusercontent.com/26135447/54069432-ebc93000-4292-11e9-904c-d83215937283.png)
I try to modify the `src/cursor-context.ts` line 41
[code]
to
[code]
support Chinese and Japanese langu

[2019-03-10 09:30] fbob commented on #133
Go for it :)
it's a must have feature to compete with markdown-preview-enhanced

[2019-03-10 09:32] fbob commented on #130
Awesome :+1:
Coming from emacs it's one of the missing feature of vscode-org-mode.
Excellent job !

[2019-03-16 08:15] 809825706 opened #138 "Date format"
#### Is possible to custom the format of insert date?

I am using vscode on PC and orglzy on Android. It is a very well work mode. while, the default format of date in orglzy  is YYYY/MM/DD just like:

![image](https://user-images.githubusercontent.com/46601791/54472634-5daaf780-4806-11e9-8d70-8b491ada385d.png)

but in vscode:

![image](https://user-images.githubusercontent.com/46601791/54472642-8

[2019-03-16 14:43] PGilbertSchmitt commented on #138
I believe the only issue is parsing and formatting the same way it was parsed. There would have to be an overridable config that gives you control over the format, which would then be used by the formatter. Seems like a fairly simple add, I can look into it.

[2019-03-19 10:02] tecosaur commented on #133
I'd imagine a good solution to this would probably be: pandoc ⟶ html ⟶ webview.

[2019-03-19 11:47] titaniumbones commented on #133
It will be a while before I try this out (!!) but I think a javascript-based org-mode parser would make a lot more sense for a node project.  THere are several but I'm not sure any one of htese is perfect:
- [node-orgmode](https://github.com/yorkie/node-orgmode)
- [org-js](https://github.com/mooz/org-js)
- [orgajs](https://github.com/xiaoxinghu/orgajs)
- [org-mode-parser](https://github.com/daitan

[2019-04-02 10:21] kenoh opened #141 "What is the story behind tootone.org-mode?"
Seeing two projects marketplace.visualstudio.com with the same user-friendly name but two different names (`tootone.org-mode` vs. `vscode-org-mode.org-mode`) both referring to this github project with no way to differ on what commit they were built from... how should I decide which one to install? Can it be made more clear what is the purpose and status of each of these?

[2019-04-02 11:00] sipi commented on #141
Hi,
the tootone.org-mode is the legacy one, the original authors transmitted the project to us (vscode-org-mode organization). We recently published a first release as vscode-org-mode.org-mode (to reflect this organization) and we have to push a "special version" as tootone.org-mode to notice users of the change but we're all very busy on other sides and we haven't done it yet. We will do that as

[2019-04-18 07:50] 809825706 commented on #138
Have you fixed this problem？

[2019-05-08 00:58] atbest commented on #138
You can modify the Regex for `timestamp` in `org.tmLanguage.json`
[code]

[2019-05-08 05:19] 809825706 commented on #138
I tried, but it didn't work......

[2019-05-16 13:33] stevesimmons commented on #138
If that is a regex, it will only be used for reading dates, not writing them!

Can the format for writing dates be changed to yyyy-mm-dd, so that the month and day come out with leading zeros? Dates like 2019-05-15 sort in chronological order while one like 2019-5-15 will get scrambled.

[2019-05-16 13:38] stevesimmons commented on #138
I'll answer my own comment.... from looking at src/utils.ts, dates will appear like 2019-05-15 if you put `"org.addLeftZero": true` in `settings.json`:

[2019-05-17 02:42] 809825706 commented on #138
thank you! it works!

[2019-05-17 02:42] #138 closed, assigned to nobody

[2019-05-29 13:50] voronoipotato commented on #104
https://code.visualstudio.com/docs/extensionAPI/vscode-api#FoldingRangeProvider

https://stackoverflow.com/questions/36825024/can-you-customize-code-folding

[2019-05-31 02:49] Nordes opened #142 "Support of "Babel" feature?"
Hi, would you happen to know if the support of "Babel" is in the pipeline for future release?

[2019-05-31 14:08] banister opened #143 "Add ability to fold/hide nested items"
In emacs org-mode we can trivially fold/unfold nested items. This is a crucial item for a project-wide org file as otherwise there's just too much information to navigate.

[2019-06-05 21:24] mattdeboard commented on #143
Hi, I'm not a contrib to the project but this extension plugs into the normal code-folding keybinds. Check out [this Stack Overflow answer](https://stackoverflow.com/a/30077543) for more! I just tried it in OSX and `M-S-[` collapses, `M-S-]` expands.

There are a lot of folding options. If you do `M-x fold` (assuming you're using emacs keybinds in vscode), the autocomplete suggestions will show yo

[2019-06-22 10:47] jckdn commented on #121
I noticed some really useful features are not documented, like code blocks.
Any chance we could get some updated docs/wiki? Or if someone can provide a list of features not currently documented, I can try to document them.

Also on a related note, what is the purpose of the **org.code** command? It just seems to wrap the selected text with ~ characters.

[2019-06-23 11:48] sipi commented on #121
I have no list of currently not documented features but I can give you rights to edit the wiki to document those you have in mind.
Regarding, org.code command is related to [Org markup rules](https://orgmode.org/org.html#index-italic-text_002c-markup-rules) to emphase text which represents a code snippet (the text should be display with a specific color when between ~ in VSCode with the org-mode e

[2019-07-09 12:07] sipi opened #144 ""Org: Italic" command does not work correctly"
The "Org: Italic" command applied on a snippet of text like:
[code]
adds a slash at the beginning and the end of the snippet, so we get:
[code]
which is not correct because nor "org-*-export-*" command nor "vscode-org-mode plugin" itself handle this snippet as italic text.

We should add slashes at the beginning and the end of each lines, so we should get:
[code]

[2019-07-09 12:12] sipi opened #145 ""Org: Italic" command handling text already in italic"
Currently if we apply the "Org: Italic" command on an already in italic text, like:
[code]
we get:
[code]
it would probably be better to revert the text in "normal" mode, so get:
[code]

[2019-07-13 07:35] lxh4x3 opened #146 "Is it possible to publish project in VS code like in Emacs?"
In Emacs, it can publish project to html based on org mode project settings. Is it possible to support this kind of feature in VS code? If it could, it should be very cool.

[2019-07-15 07:11] sipi commented on #146
Are you talking about the "org-html-export-to-html" emacs command?

[2019-07-30 16:19] tbruckmaier opened #147 "Foldable drawers"
It would be nice if property/logbook/... drawers could be folded too:

Example from the orgmode docs: https://orgmode.org/manual/Drawers.html

[code]

[2019-08-01 02:37] jakubdonovan opened #148 "Hide Leading Stars & Fold/Unfold with TAB in org-mode"
- The ability to Fold/Unfold with TAB in Org-Mode
- Hide Leading Stars

How can we go about implementing these?

[2019-08-01 07:38] sipi commented on #143
Indeed, you can use the native VSCode commands:  "**fold recursively**" and "**unfold recursively**".

[2019-08-01 07:38] #143 closed, assigned to nobody

[2019-08-01 07:40] sipi commented on #142
currently not, we have no enough man-power but can you explain your feature request?

[2019-08-01 08:15] #123 closed

[2019-08-08 15:06] Chaxwell opened #149 "Adding unified exports of todoKeywords for HTML"
Hey,

I don't know if the title is clear enough, but I'd like that when you add keywords to the `org.todoKeywords` it behaves exactly the same with "native" keywords (TODO and DONE).

When I convert with Pandoc to HTML it doesn't recognize my new keywords, and thus it doesn't create a specific span class for them.

Look an example :
[code]
but with new keyword :
[code]

I don't know if the problem

[2019-08-09 10:12] Chaxwell commented on #149
I close the issue, because I was told it is rather a Pandoc conversion issue than anything else.

Sorry ^_^

[2019-08-09 10:12] #149 closed, assigned to nobody

[2019-08-16 11:57] Thaodan commented on #142
I think he means the whole babel feature like running src block and pasting the result into the source document during export.

[2019-09-03 16:28] al3rez opened #150 "Adds TODO when incrementing context with * [timestamp] format"
Hey, thanks for your great extension. But I started to using it and realized that when I there's a leading * before timestamp you cannot increment the context; e.g.

input:
[code]

expected:
[code]

actual:
[code]

Actually I've already fixed it since your Regex is not looking for bracket pairs when there's suffix it cannot match.

[2019-09-03 16:40] al3rez commented on #150
My bad this isn't an issue - :(

[2019-09-03 16:40] #150 closed, assigned to nobody

[2019-09-13 15:29] chrisoswald opened #152 "Where can I found the keybindings?"
I'm missing a list of the used keybindings in the documentation. For example there is shown that you can toggle the TODO-State. But nowhere is described how I can do it?

[2019-09-14 19:27] ZoisK commented on #152
by default it's Alt-left / Alt-right.
documentation in the wiki section on TODO-items:
https://github.com/vscode-org-mode/vscode-org-mode/wiki/TODO-Items

[2019-09-15 07:23] sipi commented on #152
You also can find keybindings in VSCode
```File > Preferences > Keyboard Shortcuts```
then search the ```org: ``` prefix, so you will get all vscode-org-mode keybindings.

[2019-09-15 07:23] #152 closed, assigned to nobody

[2019-09-16 14:28] titaniumbones commented on #133
So just finally taking another look at this issue and it feels pretty outside my abilities at the moment.  I think the best thing one could do would be to import the markdown previewer and strategically modify it, maybe mostly by creating an `orgEngine` object which could be slotted in to the `markdownEngine` which is created in [this file](https://github.com/microsoft/vscode/blob/master/extension

[2019-09-17 13:27] sipi commented on #72
related PR #153

[2019-10-14 15:38] amelio-vazquez-reina opened #155 "Template autocompletion"
First of all - thanks for this extension! I think it will help bring more Emacs users to vscode, which I would help us accelerate the vscode community.

I am opening this issue because I noticed the following cool feature in the extension - If I start typing `ti`, it offers the `title` template, and if I press `enter`, it populates it and allows me to directly enter the `TITLE` (see screenshot bel

[2019-10-14 15:44] amelio-vazquez-reina opened #156 "What templates are supported?"
I noticed this extension supports [easy templates](https://www.gnu.org/software/emacs/manual/html_node/org/Easy-templates.html), which is awesome. E.g. if I press `<` `s` `TAB`, the extension creates the `SRC` templates, just as Emacs does.. Interestingly, I didn't this feature documented in the `README.md` file (apologies if there is a better place with this info).

This makes me wonder, where ca

[2019-10-15 09:41] sipi commented on #155
Hi @amelio-vazquez-reina,
it's not well documented but it uses the vscode snippet mechanism. You can found all snippets provided by vscode-org-mode extension here : https://github.com/vscode-org-mode/vscode-org-mode/blob/develop/snippets/org.json

We should add a "provided snippets" page to the wiki : https://github.com/vscode-org-mode/vscode-org-mode/wiki

[2019-10-15 09:41] #155 closed, assigned to nobody

[2019-10-15 09:45] sipi commented on #156
see #155 for more information about the "template" mechanism used by vscode-org-mode.
For "full" list of features / commands, please refer to (and eventually complete) the wiki https://github.com/vscode-org-mode/vscode-org-mode/wiki

[2019-10-15 09:45] #156 closed, assigned to nobody

[2019-10-22 11:55] sipi commented on #146
no response to the clarification request

[2019-10-22 11:55] #146 closed, assigned to nobody

[2019-10-22 11:56] sipi commented on #142
no response to the request for clarification

[2019-10-22 11:56] #142 closed, assigned to nobody

[2019-10-22 12:04] Thaodan commented on #142
I explained it, if you need more read this:
https://orgmode.org/worg/org-contrib/babel/intro.html

[2019-10-22 12:27] sipi commented on #142
Do You want this feature ?
If yes, the only simple way to implement it (that I see) is to call Emacs in background process…
If you are interested by, I have something that does that...

[2019-10-22 12:45] Thaodan commented on #142
Personally not as I don't use vscode. I just want more org-mode adaption and contributed with the info I have.

[2019-10-22 13:20] sipi commented on #142
Thanks for your contribution.
I closed this issue because the original author didn't take the time to clarify his own need. Moreover, the original issue was "if the support of Babel is in the pipeline for future release?", the answer is no.

[2019-10-24 13:11] SamHasler opened #157 "Per-file TODO keywords"
Could the following syntax for per-file todo keyword configuration be supported?

from: https://orgmode.org/manual/Per_002dfile-keywords.html#Per_002dfile-keywords

[2019-12-04 17:59] tmsteen commented on #121
Still looking for help?

[2019-12-04 18:53] sipi commented on #121
Yes, any help is welcome.

[2020-01-20 17:40] amelio-vazquez-reina opened #159 "Unable to disable plain text suggestions"
Issue Type: <b>Bug</b>

I have the following in my `settings.json` file:
[code]

which works well in a plain text file (e.g. extension `.txt`) but  I still get **plain text suggestions** in my **org** files. Any ideas why?

Separately, this is less of a bug, more of a question, but if I actually disable automatic Intellisense suggestions, is there a way to still trigger them on demand? (via a `com

[2020-04-06 01:23] Firehawke opened #161 "Org-Roam capability"
Might be worth looking into eventually integrating the capability of [Org-roam](https://org-roam.readthedocs.io/en/latest/) as that's almost certainly going to be on a lot of peoples' minds.

[2020-05-01 12:30] sipi commented on #159
Hi,
is the answer from jrieken on https://github.com/microsoft/vscode/issues/88985 solve your issue ?

[2020-05-01 16:25] amelio-vazquez-reina commented on #159
Yes thanks @sipi Good to close!

[2020-05-01 16:25] #159 closed, assigned to nobody

[2020-05-04 05:27] ssimontis commented on #161
Hello @Firehawke, Org-roam is personally one of my favorite Emacs extensions. I am going to commit to this task unless anyone has any objections. I will post some design documentation here within the next 24 hours I hope.

[2020-05-04 06:57] ssimontis commented on #161
For a basic version, I forsee the following tasks being necessary:

- [ ] Create roam template
- [ ] Add configuration settings
- [ ] Allow creation of links in between pages
- [ ] Allow definition of metadata on individual pages
- [ ] Search interface for notes
- [ ] GraphViz generation and display of note graph

[2020-05-07 15:52] sstent opened #162 "Is this project still active?"

[2020-05-07 16:01] sipi commented on #162
There are still people there but not very active on this project currently. But we try to keep it alive !

[2020-05-08 14:28] suvidh commented on #161
COOL I would really appreciate org-roam!

[2020-05-08 15:48] ssimontis commented on #161
@PGilbertSchmitt @ajtoo @jsonreeder

Is this something you would like integrated with the current extension, or would you prefer that I make another extension and we work together to promote the VS Code ORG family or perhaps make my extension a submodule?

I'm potentially interested in bringing over more ORG extensions, so I want to ensure that such an approach is manageable and doesn't result in

[2020-05-09 04:30] suvidh commented on #161
I am not the best of programmer.
If you integrate Org-roam with the current extension then there would be very few -albeit weird- people who will not like roam capabilities. They will not have a choice.
If you make  a complete different module then maybe it would result into chaotic codebase. Since, you could have to repeat code. Moreover then Org-roam would probably still be dependent on Org.
I t

[2020-05-09 13:31] titaniumbones commented on #162
I'd love to help a little (only have a tiny amount of time!). Mainly I want my students to be able to read READM.org files in a rendered preview a la github  :-)

[2020-05-10 12:19] sipi commented on #162
@titaniumbones **Gitlab** now supports Org files !

[2020-05-10 13:04] sipi commented on #161
Hi @ssimontis,
PGilbertSchmitt, ajtoo, jsonreeder are no longer very active on this project, and I try to ensure continuity. So, I know little about org-roam but as I understand it, main features are hyperlinks and search capabilities in order to built Wiki like note system.

From my point of view, hyperlinks and search capabilities are great features.
Having note templates to quickly create the s

[2020-05-10 13:30] #162 closed, assigned to nobody

[2020-05-10 14:02] ssimontis commented on #161
Hey @sipi,

Thanks for taking over this project! I agree with your prioritization. The graph feature was part of what I felt differentiated org-roam from some of the other similar extensions, but it can definitely be the last thing on my list.

I spent some time thinking things over regarding the submodule, and as nice as it seems, I don't think it would be feasible after going through the logic i

[2020-06-09 02:10] IFcoltransG opened #163 "Readme gif depicts installing wrong version"
The GIF on the readme under Installation shows someone installing the Too Tone version rather than this one.

[2020-06-25 18:51] Donaldpherman opened #164 "Add org mode to activity bar."
To see my org folder I have to open up a new folder or file in visual studios.  There should be functionality to have org-mode on the activity bar.  This should be similar to VS Notes

![image](https://user-images.githubusercontent.com/3155787/85765240-c734d980-b6ca-11ea-8d29-127808a57c7f.png)

[2020-07-05 17:38] ctittel opened #165 "Support more link types such as `file:`"
Emacs org-mode has a number of inbuilt link types as well as the ability to configurate your own.

Examples are `file:`, `doi:` and `irc:`

In my trials, at least the `file:` link type doesnt work

Here is the relevant page from the org-mode docs: https://orgmode.org/manual/External-Links.html

[2020-07-06 10:39] ctittel commented on #165
In org-mode the link `[[file:productivity.org]]` opens the file `productivity.org` in the same directory as the file containing the link. The current version of vscode-org-mode doesn't treat this as a link at all. Links like this also work on GitHub.
If I reformat the above link to `[[file://productivity.org]]` it becomes clickable, but tries to open anything, perhaps it tries to find a file calle

[2020-07-10 20:44] ciolansteen opened #166 "Background Emacs calling for all sorts of stuff"
_Originally posted by @sipi in https://github.com/vscode-org-mode/vscode-org-mode/issues/142#issuecomment-544937591_

Hi, I read this and yes, i really want this feature. Can you help me with the configuration? .

Billions of thanks!

[2020-07-16 05:53] doncabreraphone commented on #166
Yes please. Also, AGENDA view.

[2020-07-17 11:12] sipi commented on #166
As usual, I'm pretty busy  but I will look this week-end to give you what I've done in this way.
For example, for PDF export, I trigger the following command :

[code]

[2020-07-20 04:22] mrkeuz commented on #121
Hi @sipi I'm Java developer too. :) Loved org-mode + vscode. Will be glad to help you with testing or something else. Just let me know how I can help you.
Many thanks for your initiative!

[2020-10-12 11:15] Ivan-Igorevich opened #170 "Even deeper subtrees support"
Hello, and thanks for your work on creating this extension, but i have a tiny problem rendering deep subtrees (more, than five levels depth) those subtrees aren't coloured
![Screenshot_2](https://user-images.githubusercontent.com/12792352/95740488-47407880-0c95-11eb-9ac2-2c9a136b9625.png)

[2020-10-26 18:45] kmatarese opened #171 "Only folds dashes, not asterisks?"
This plugin was working OK for me for a while but seems to have stopped working when I just updated VSCode. It doesn't recognize the asterisk as the marker for something that should be folded. Anyone else having this issue?

VSCode version info.

[code]

[2020-10-28 18:29] truesilver92 opened #172 "1.49 compatible release"
I there a 1.49 compatible release? Will you put the releases in github?

[2020-10-29 23:28] atharvanan1 opened #173 "README - add shortcuts"
Hey,

Thanks for your work on this. I am a beginner at org-mode, and I have no idea what keypresses are you pressing the GIFs shown in the README file. It would be really helpful to anyone starting off to use the extension.

Thanks again!

[2020-11-04 21:58] burnsaga opened #174 "Is there a rendered text view?"
e.g. a Markdown Preview window - to be able to click on org-mode links, etc.

[2020-11-13 18:47] sipi commented on #174
not yet, sorry.

There are 2 pull requests for PDF export functionality :
- https://github.com/vscode-org-mode/vscode-org-mode/pull/134
- https://github.com/vscode-org-mode/vscode-org-mode/pull/113

[2020-11-13 18:47] #174 closed, assigned to nobody

[2020-11-13 19:52] sipi commented on #172
I'm using vscode 1.51 and I don't have any issue…
[code]

Can you tell us more about your problem ?
And copy/paste your VSCode information (Help > About) ?

Thanks

[2020-11-13 19:55] sipi commented on #171
No problem on my side

[code]

[2020-11-13 20:06] kmatarese commented on #171
After updating it seems to be working again.

[2020-11-13 20:06] #171 closed, assigned to nobody

[2020-11-13 22:29] truesilver92 commented on #172
At the time I was unable to find a version compatible with 1.49 or 1.49.1. I still can't, but I found a different release of vscode to use (codium). I would not expect to see any issues using version 1.51.1

[2020-11-23 07:10] GitMensch commented on #107
@sipi - Can someone unpublish the TooTone extension or at least add a fat note in the README "there" that it is superseded by this extension?

[2020-11-23 07:18] GitMensch opened #175 "FR: please co-publish on Open VSX Registry"
The [Open VSX Registry](https://open-vsx.org/?search=org) currently does not include any extension for org files. It is the default extension provider endpoint for the free build of vscode VSCodium and Eclipse Theia.
It would be nice to have this extension be directly part of a free vsix repository instead of the Microsoft Marketplace with its restrictions.

Details on the publishing can be found

[2020-12-26 04:48] tobknight opened #177 "Ask for OPEN VSX register request"
Dear,

I have found the reason why I can't search your plugin on my code extension market. [link](https://github.com/microsoft/vscode/issues/108147#issuecomment-705510202)

If you can publish your plugin on OPEN VSX, that will be handy for other users.

Best

[2020-12-26 16:19] huhuang03 opened #178 "How can I open link by shortcuts"
I use windows. How can I do this by org-mode or vscode. I searched on web but no luck.

[2020-12-26 16:21] huhuang03 commented on #178
https://stackoverflow.com/questions/49861033/what-is-the-shortcut-for-ctrl-click-in-visual-code

The vscode Open link action.

[2020-12-26 16:21] #178 closed, assigned to nobody

[2020-12-26 20:04] tobknight commented on #177
I think my issue is same as #175

[2020-12-26 20:04] #177 closed, assigned to nobody

[2021-01-20 10:46] idanski opened #179 "Can't find extension in the marketplace on Arch Linux?"
Hey.

I run vscode 1.52.1 on an Arch Linux machine and can't find the extension in the marketplace.

A friend was able to find it on his mac.

I tried both using free text search 'org mode'
and using `ext install vscode-org-mode.org-mode` both didn't find it.

This is what I see when I use the ext install..
![Screenshot_20210120_124209](https://user-images.githubusercontent.com/7109652/105163735-f

[2021-01-26 11:02] tamuratak commented on #179
See https://github.com/microsoft/vscode/issues/107997#issuecomment-703245178

[2021-01-26 12:25] idanski commented on #179
I see. Thanks @tamuratak !
I installed the `visual-studio-code-bin` and it actually works now.

I'm closing this issue as I've found a workaround, but the maintainers of this extension may consider adding this extension to VSX.

[2021-01-26 12:25] #179 closed, assigned to nobody

[2021-02-02 18:30] zetashift opened #181 "Indentation in Source Code Block"
In a source code block one doesn't get automatic indentation in languages like Python and Nim and F#:

[code]
But for example in Javascript(and Scala), the extension can indent:

[code]

Is there a way to get it indentation working in languages like Python?

[2021-02-06 00:58] norogoth commented on #78
@rpeshkov That would definitely be cool.

[2021-02-10 17:33] norogoth opened #182 "No way to add timestamp with time?"
Reading the docs it seems that `ctrl + alt + o` `t` will insert a "timestamp" that is really only a datestamp. Is there a way to insert an actual timestamp with the time?

[2021-02-11 02:22] mrkeuz commented on #182
As solution, you can:
* Create custom snipped for `org` files (is there `$CURRENT_SECONDS_UNIX` variable).
* Bind it to your combination to insert snipped as described in article.

Fast googling got next article:
https://mattferderer.com/create-a-snippet-or-shortcut-in-vs-code-to-insert-the-current-date-time
https://code.visualstudio.com/docs/editor/userdefinedsnippets#_variables

[2021-02-14 15:07] mrkeuz commented on #182
Also, there is a more simple solution. Just founded right now, after reviewing my extensions.

Extension `Insert Date String`. It has format option and ready to use out of box.

[2021-03-07 15:28] amigo421 opened #183 "outline"
hi

seems outline in standard vscode outline window as well as symbol search (Ctrl+Shift+O) is not implemented?
if - not implemented, please implement otherwise the navigation in large org files is too hard.
if - implemented, please advise how to enable this

P.S. is there option to enable usual vscode popup reminders about upcoming tasks?

[2021-03-07 15:51] ghost commented on #183
Hi,
outline window is implemented and working, see below :
![Screenshot_2021-03-07_16-43-28](https://user-images.githubusercontent.com/79840837/110245694-a19fe580-7f64-11eb-9694-90e4600b63aa.png)
as well "go to symbol in editor" command
![Screenshot_2021-03-07_16-48-51](https://user-images.githubusercontent.com/79840837/110245802-065b4000-7f65-11eb-8290-9c309533f4fb.png)

Please make sur you have

[2021-03-07 19:31] amigo421 commented on #183
thank you !
you are right - wrong choice, installed your one and now it works perfect.
as I suppose that vscode limitation for tree-style outline window, so any plans for extension-own panel for a tree representation the content of file? (I'm using TODO tree extension for the development process - this has a nice panel where extension extracts and shows TODOs as a tree with various grouping, would

[2021-04-04 21:16] ciolansteen commented on #166
It's been a harsh and full year and I completely forgot about this request.
Thanks a lot for this. I will try it out and soon as I can.

Thanks!

[2021-04-07 13:25] nephewtom opened #186 "Fold all does not hide second, third and further headlines"
I would expect that Fold all shortcut would hide second, third and further headlines.
So folding all would only show top level headlines.
Current behavior show all headlines when using `Ctrl+K Ctrl+0`:

![vscode-orgmode-folding](https://user-images.githubusercontent.com/2485147/113873836-76075980-97b5-11eb-81ec-72d9096cb783.gif)

[2021-04-09 17:24] AndreasLuckert opened #187 "How to wrap links like in emacs"
Right now, a link with a neat label is shown like this:
`Advanced R - Link: [[http://adv-r.had.co.nz/][Advanced R]]`

How could I just let it show the label "Advanced R" with the link embedded like here in github:
[Advanced R](http://adv-r.had.co.nz/)

[2021-04-09 18:05] AndreasLuckert opened #188 "Internal links and file links"
I've just asked this [question posted on StackOverflow](https://stackoverflow.com/questions/67026173/internal-links-file-links-and-link-wrapping-in-vs-code-org-mode-extension) to reach a broader audience, but still I want to make sure that the actual developer sees it, so here I go:

I wonder if it is possible to get internal links and file links integrated in this VS-Code Org-Mode extension follo

[2021-04-22 10:21] KlavsKlavsen commented on #175
Really would be nice to have :)

[2021-04-25 08:30] ilkka opened #189 "Bootstrapping dev env fails due to vscode package changes"
I just noticed that `npm install` in a fresh copy of vscode-org-mode fails with

[code]

It seems that this is related to the `vscode` package being deprecated. I found this [very similar issue reported in microsoft/vscode](https://github.com/microsoft/vscode/issues/120064), which links to [this older issue](https://github.com/microsoft/vscode/issues/119822) that in turn has [this detailed comment

[2021-04-25 19:02] ilkka commented on #189
Just noticed that package-lock.json seems to be at version 1, is this project purposefully using npm 6.x? IIRC v2 came with npm 7.x.

[2021-05-01 15:43] zetashift commented on #189
Of course a PR would be welcome! Thank you for taking a look at this.

As for this project purposefully using npm 6.x, it isn't, but it's in dire need of some updating and cleaning up.

[2021-05-06 08:12] lascott opened #190 "Timestamp command side effects"
Hitting ctrl+alt+o on linux works as expected.
Win10: types unicode "o" and typing becomes impossible. Mouse can be used but no keyboard.

[2021-05-22 15:59] ghost opened #193 "Please extend Documentation"
Please extend the documentation on how to execute the commands from the org mode documentation like html export and how to see a preview of the rendered file. Im new to Visual Studio and new to this expension as it seemed useful for note taking but cant see anything regarding this issues in the documentation

[2021-06-26 04:12] Gnurou commented on #175
Yup, that's actually what is preventing from using this extension at the moment.

[2021-06-26 10:38] GitMensch commented on #175
@KlavsKlavsen actually used the reasonable way to add extensions if the original author does not do this - the CI build. Normally the extensions should be available now but something prevents that, see https://github.com/open-vsx/publish-extensions/pull/334.

Ideally there would be a 1.1 release of this extension with a vsix included in the release page and/or the person that would upload the 1.1

[2021-06-26 22:37] GitMensch opened #194 "Please add tag (and ideally "release" with vsix-binary) for 1.0.0"
This should do the trick with the missing tag, using the 1.0 commit https://github.com/vscode-org-mode/vscode-org-mode/commit/e8cc69868af427f5fd03c8ad125b493cbf2e8292.

[code]

Then someone with release rights could either use the GH CLI or click on the tag to convert it to a release, _possibly_ adding some highlights about the release or leave it as "First Stable Release" and _ideally_ adding one

[2021-07-07 22:54] shaunsingh opened #195 "Is this project stale/dead, can there be a new release?"
Hi. I would quickly like to say thanks for all the previous work on this project.

I've been switching between emacs and vscode lately, and I find myself only using emacs for org-mode support these days. I'm a fairly basic org mode user, only using it for writing papers and exporting them to latex

I understand many of the maintainers (such as tecosaur) have either moved on/back to emacs, or are b

[2021-07-17 22:19] khtan opened #196 "Any workaround to cycle visibility?"
Hello,

There is a ticket in 2017 about cycling visibility and it has been closed.
https://github.com/vscode-org-mode/vscode-org-mode/issues/70

I just used vscode-org-mode in VS Code and found that Tab/Shift-Tab does not map to "cycle" like the real Emacs Orgmode.
So I'm guessing that despite the intent, this is not yet implemented.

Since 2007 is many years ago, I think the better question is wh

[2021-07-17 22:23] khtan commented on #187
Hi, I am an org-mode user on Emacs and the default behavior is to just show the label, as is described by Andreas.
The link format is well described in the Org manual. I am guessing that the display of links is still not yet implemented.
Hopefully, one of the developers can talk about any plans for this to be done.
Great tool!

[2021-07-23 09:30] hi2u commented on #94
@AndrewJRichardson / @ajtoo (or anyone else using this feature)...

Does this fix still work for you?

Alt + left/right is only working for me on lines that begin with `*`

[2021-08-19 12:14] gerrywastaken commented on #143
This folding doesn't seem to work unless you manually add spaces for each header level:
https://github.com/vscode-org-mode/vscode-org-mode/issues/70#issuecomment-296299693

This makes me wonder if there is actually any reason to use the asterisk at all and instead just using spaces and normal folding. The solution feels just as janky either way.

[2021-10-10 10:29] mrkeuz commented on #175
+1 Currently cannot easily install into `gitpod/openvscode-server`. Just have personal org wiki and want to edit it from browser.

As WORKAROUND for vscode-server:
1. Download from `*.vsix` from marketplace
    https://marketplace.visualstudio.com/items?itemName=vscode-org-mode.org-mode
2. Click `Install from VSIX...`

See: https://www.gitpod.io/docs/vscode-extensions/#where-do-i-find-extensions

[2022-02-17 15:43] liar666 opened #201 "Codium support?"
Hi,

A few months ago I asked if it is normal that I cannot find this extension in the "market place" for Codium:
https://gitter.im/vscode-org-mode/Lobby
As there is no one that seems able to answer there, I'm creating this message to ask it again here.

Is it possible / How can I install this extension on Codium? If not, what is the technical limitation?

[2022-02-17 15:58] liar666 commented on #201
OK Found a solution:
- Go to download on page:
https://marketplace.visualstudio.com/items?itemName=tootone.org-mode
- Then in Codium: "install from VSIX"

[2022-02-17 15:59] #201 closed, assigned to nobody

[2022-02-21 09:01] sipi commented on #201
Hi, just to give some related information :
- https://github.com/VSCodium/vscodium/blob/master/DOCS.md#extensions-marketplace
- https://github.com/VSCodium/vscodium/blob/master/DOCS.md#how-to-use-the-vs-code-marketplace

[2022-03-02 22:06] nivintw commented on #195
Looks like it might be...

[2022-04-02 03:49] yeezy commented on #195
I will fork this project and add these open PRs

[2022-04-13 17:04] glauber-experian opened #205 "Please add support to checkboxes"
As in Emacs org-mode:

https://orgmode.org/guide/Checkboxes.html

[2022-05-14 09:04] dkmin commented on #120
+1

[2022-08-02 07:54] StefanBertels commented on #138
Hi, just found this, helped me.

AFAIK leading zeros (as in 2022-08-02) is common ([ISO 8601](https://en.wikipedia.org/wiki/ISO_8601)) and used this way in different [countries ](https://en.wikipedia.org/wiki/Date_format_by_country) and software.

While reading zero-less numbers might be a [good thing](https://en.wikipedia.org/wiki/Robustness_principle) and might be covered by ISO 8601 (which allo

[2022-08-10 20:34] JohnL4 commented on #196
Folding is done w/the VS Code "fold"/"unfold" operations (ctrl-K ctrl-[ for instance).

But it would be nice if folding also applied to drawers, not just headings.

[2022-09-05 10:37] Lucretia opened #207 "What's the status of this project?"

[2022-09-06 13:37] thomas-louvigne commented on #196
Is it possible to remap it with Tab & Shift-Tab on all .org file ?

[2022-09-06 16:29] adab4d commented on #196
Check shortcuts editor —action`workbench.action.openGlobalKeybindings`— using `editorLangId == 'org'` for *When* condition.

[2022-09-15 13:36] glauber-experian commented on #207
Looks dead. :(

[2022-09-16 07:37] sipi commented on #207
Hi, indeed, we have done some improvements a few years ago but unfortunately I've no more time for this project. If someone wants to give it a new life…

[2022-09-16 07:45] sipi opened #208 ":fire: Poll : Give a second life to this project? :fire:"
if you want to see this project revived, react with :rocket:
if you have some time to spend on this project, react with :eyes:

[2022-09-16 08:08] sipi commented on #207
Poll : Give a second life to this project? #208

[2022-09-16 08:08] sipi commented on #195
Poll : Give a second life to this project? #208

[2022-09-16 13:17] glauber-experian commented on #208
I don't have the know-how to code, but may be able to help test.

[2022-09-16 17:39] yeezy commented on #208
I'd be interested

[2022-09-18 00:30] shaunsingh commented on #195
Like a lot of other people here I've since moved to emacs/neovim, though I'd love to see an excellent org-mode implementation in VSCode, sublime text has a great plugin for it and I imagine vscode+org would be a popular, easy to use way to get people into org markup. I'd love to see this project picked up :)

[2022-09-20 01:16] bzg commented on #208
A naive question from someone that does not use VS Code: is this plugin available to [VS Codium](https://vscodium.com) users?

If so, and as the Org-mode maintainer, I'd love to see it revived.

Thanks for the work so far!

[2022-09-20 07:47] sipi commented on #208
@bzg yes, it can be installed on VS Codium ;)

[2022-09-20 07:48] #207 closed, assigned to nobody

[2022-09-20 08:03] Crystal-RainSlide commented on #208
[VS Codium](https://vscodium.com/) users should be able to search & install it right now, since it's on Open VSX registry already: https://www.open-vsx.org/extension/vscode-org-mode/org-mode

[2022-09-26 14:14] tecosaur commented on #208
It's probably worth noting that I have an idea on how the capabilities could be dramatically expanded, by using Emacs as an LSP server: https://github.com/tecosaur/org-lsp this is very much on the backburner ATM though.

[2022-10-11 15:38] PGilbertSchmitt commented on #208
I never imagined a project I worked on as a 1-week bootcamp project would have people wishing it were more maintained. I'm certainly a better coder than I was 5 years ago, I'd be happy to donate some of my time to its maintenance. Only thing is, I don't really know much about Org Mode (this was more Jason Reeder's baby). If there's work to do, and it's well defined, I can see about throwing some k

[2022-10-11 15:48] tecosaur commented on #208
For syntax highlighting, there's a new syntax document that is probably of interest: https://orgmode.org/worg/dev/org-syntax.html, it mainly needs polishing for clarity but is the closest thing to a grammar available.

For fancier functionality (e.g. code tangling, babel) I think that would be great to have, but a huge effort to copy over, which is why I'm interested in the LSP idea to provide tha

[2022-10-15 23:49] Fire- commented on #208
I discovered this today and honestly it reminded me of Obsidian - I'm curious how much effort it would be to share between the two ecosystems ( mainly because obsidian has a decent mobile app )

[2022-10-16 03:35] gbraad commented on #208
Consider also the new-comer audience, as there is a reason why people want to use org-mode outside of Emacs. However the Readme states features but no actual shortcuts/key combinations how to do this.

[2022-11-14 20:34] renzmann opened #209 "Syntax highlighting within #+BEGIN_SRC blocks"
Is this a feature that's already supported?  When I try e.g.

[code]

I do not get python syntax highlighting within the `src` block, as we would in markdown.

I have some time to help contribute to this feature, if it's not already supported, though I would need guidance on where to make adjustments in the source code.

[2022-11-15 08:41] sipi commented on #209
HI, you should have a look in https://github.com/vscode-org-mode/vscode-org-mode/tree/develop/syntaxes

[2022-11-15 09:01] sipi commented on #208
I think, first effort should be on produce a new version with dependencies up to date…
Somebody interested ?

[2022-11-15 09:07] sipi commented on #208
community's gitter: https://gitter.im/vscode-org-mode/Lobby

[2022-11-15 13:54] renzmann commented on #209
Thanks for pointing that out.  For anyone else who stumbles into this, there were two identical-looking options on the VSCode marketplace:

<img width="355" alt="Screen Shot 2022-11-15 at 8 53 26 AM" src="https://user-images.githubusercontent.com/32076780/201936998-1923a49f-be01-4a49-8f2a-742fb63d835d.png">

I had installed the top one, which was `v0.5.0`, whereas the bottom one is `v1.0.0`.  Upgr

[2022-11-15 13:54] #209 closed, assigned to nobody